@import 'modern-normalize';

body {
  color: #333;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 2em;
  box-sizing: content-box;
}

header {
  padding: 30px 0;
  background: #F1F1F1;
  margin-bottom: 2em;
}

header .bitcoin-logo {
  width: 100px;
}

header .arm {
  font-size: 90px;
  position: relative;
  top: -10px;
}

header h1 {
  font-size: 1.6em;
  margin: 10px 0 0;
}

table.results {
  width: 100%;
  border-spacing: 0;
}

table.results thead {
  font-weight: bold;
}

table.results td {
  padding: 1em 0;
  border-top: 1px solid #ECECEC;
}

.footer {
  padding: 1em 0;
  background: rgba(255, 255, 255, 0.5);
}

.footer .me {
  float: right;
}
